.cta {
	background: $purple-gradint;

	.cta-content {
		@extend .container;
		padding-top: 4rem;
		padding-bottom: 4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow-x: hidden;

		.title {
			color: $yellow;
			text-transform: uppercase;
			font-size: 1.75rem;
			margin-bottom: 1rem;

			.strong {
				color: $white;
				font-weight: 900;
			}
		}

		.text {
			color: $white;
			font-weight: 300;
			font-size: 0.9rem;
		}

		@media screen and (min-width: 1051px) {
			.floating-button {

				&::after {
					content: url('#{$path}/assets/dist/images/dots.png');
					position: absolute;
					top: -16px;
					left: 0;
				}
			}
		}

		@media screen and (max-width: 820px) {
			flex-direction: column;
			text-align: center;

			.text {
				margin-bottom: 1rem;
			}
		}
	}
}
