.navbar {
    @extend .container;
    padding: 1rem;
    padding-bottom: calc(1rem - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -40px;
    position: relative;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 525;

    .logo {
        background-color: $white;
        border-radius: 50%;
        height: 140px;
        padding: 15px;

        .logo-link {
            .logo-image {
                height: 100%;
            }
        }
    }

    .navbar-list {
        display: flex;
        align-items: center;

        .navbar-item {
            margin-right: 2rem;

            .navbar-link {
                color: $black;
            }
        }
    }

    .right {
        display: flex;

        .button {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .button-link {
                background-color: $black;
                color: $white;
                border-radius: 6px;
                padding: 15px 27px;
                font-size: 0.75rem;
            }

            .button-helper {
                text-transform: uppercase;
                background-color: $light-blue;
                color: $white;
                padding: 2px 15px;
                border-radius: 2px;
                font-weight: 400;
                position: absolute;
                bottom: 0;
                transform: translateY(50%);
            }
        }

        .signin {
            display: flex;
            align-items: center;
            margin-left: 1.5rem;

            .icon {
                margin-right: 0.5rem;
            }

            .signin-link {
                color: $black;
            }
        }
    }
}
