.o-clube {
  background-color: $black;

  .o-clube-content {
    @extend .container;
    color: $white;

    .row {
      display: flex;

      img {
        flex-shrink: 0;
        max-width: 200px;
        transition: 0.2s;
      }

      .right {
        margin-left: 4rem;

        .title {
          margin: 1rem 0 2rem 0;
          text-transform: uppercase;
        }

        .desc {
          font-weight: 300;
          letter-spacing: 0.5px;
          line-height: 1.25rem;
          font-size: 0.85rem;
        }
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

.vantagens {
  .top {
    background-color: $black;

    .top-content {
      @extend .container;
      padding: 5rem 0 4rem 0;
      display: flex;
      align-items: center;
      position: relative;
      color: $white;

      &::after {
        $height: calc(41px * 0.8);
        $width: calc(165px * 0.8);
        content: "";
        background-image: url("../svg/vantagem-arrow.svg");
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-20%);
        background-size: $width $height;
        height: $height;
        width: $width;
      }

      .title {
        margin-left: 0.75rem;
        font-size: 1.3rem;

        .strong {
          display: block;
          color: $light-blue;
        }
      }
    }
  }

  .vantagens-content {
    @extend .container;
    display: flex;
    justify-content: space-between;

    $space-top: 13rem;
    .left {
      width: 40%;

      .group {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;

        .title-container {
          display: flex;
          align-items: center;

          img,
          .subtitle {
            transition: 0.2s;
          }

          .subtitle {
            margin-left: 1rem;
            text-transform: uppercase;
          }
        }

        .desc {
          color: #3a556a;
          margin-top: 0.75rem;
          font-weight: 300;
          font-size: 0.95rem;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }

          .title-container .subtitle {
            transform: translateX(5px);
          }
        }
      }

      .button {
        background-color: $black;
        color: $white;
        text-transform: uppercase;
        padding: 1rem 0.75rem;
        font-size: 0.75rem;
        font-weight: 600;
        border-radius: 5px;
        margin-top: 2rem;
        display: inline-block;
        transition: 0.2s;

        &:hover {
          transform: scale(1.015);
          box-shadow: 0 0 20px rgba($black, 0.5);
        }
      }
    }

    .right {
      margin-top: -$space-top;
      width: 55%;
      display: flex;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        transition: .2s;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media screen and (max-width: 877px) {
  .vantagens .vantagens-content {
    .left {
      width: 100%;
    }

    .right {
      display: none;
    }
  }

  .o-clube .o-clube-content .row {
    flex-direction: column;

    img {
      margin: 0 auto;
    }
  }
}
