.topbar {
  background-color: $black;
  backdrop-filter: blur(30px);

  .topbar-content {
    @extend .container;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .weather {
      font-weight: 400;
      color: $white;
      font-size: 0.8rem;
      margin-left: 20%;
      text-transform: uppercase;
    }

    .social-container {
      display: flex;
      align-items: center;

      .translate {
        margin-right: 2rem;
        border-radius: 50%;
        $size: 25px;
        width: $size;
        height: $size;
        overflow: hidden;

        img {
          widows: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .social-link {
        transition: 0.2s;

        &:hover {
          transform: scale(1.25);
        }

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .weather {
      opacity: 0;
    }
  }
}
