.limits {
	&.header {
		background-color: #fff;
		color: #000;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition: box-shadow 0.2s;

		.link {
			color: #000;
		}

		&:hover {
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		}
	}

	&.footer {
		background-color: #000;
		.link {
			color: #fff;
		}
	}

	.limits-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@extend .container;
		padding: 1rem;

		.center {
			display: flex;
			align-items: center;

			.link {
				&:not(:last-child) {
					margin-right: 1rem;
				}
			}
		}

		.link {
			display: inline;
			transition: 0.2s;

			&.logo {
				max-width: 40%;
			}

			&.cart {
				position: relative;
				.total-itens {
					position: absolute;
					height: 20px;
					width: 20px;
					border-radius: 50%;
					background-color: #000;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 0.9rem;
					top: -10px;
					right: -10px;
					flex-shrink: 0;
				}
			}

			&.credits {
				font-size: 0.9rem;
				display: flex;
				align-items: center;

				img {
					margin-left: 0.5rem;
				}
			}

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
