RewriteEngine On

RewriteRule ^sobre/?$ /bruno-brasolin/desafio-2/sobre.php [NC,L]
RewriteRule ^acomodacoes/?$ /bruno-brasolin/desafio-2/acomodacoes.php [NC,L]
RewriteRule ^localizacao/?$ /bruno-brasolin/desafio-2/localizacao.php [NC,L]