$desktop-padding-x: 17%;
$desktop-padding-y: 80px;
$mobile-padding-x: 30px;

$green: #c2ff01;
$blue-gradient: linear-gradient(59.46deg, #1d737e -67.96%, #4fb9c7 103.75%);
$white-gradient: linear-gradient(220.36deg, rgba(25, 112, 129, 0.32) 0%, rgba(247, 247, 249, 0) 64.63%);

$font-fira-sans: "Fira Sans", sans-serif;
$font-oswald: "Oswald", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-source-sans-pro: "Source Sans Pro", sans-serif;
