.blog_integra-page {
  .blog_integra-header {
    background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
    text-align: center;
    padding: 3rem 0;
    color: $white;
    position: relative;

    .date {
      font-size: 0.8rem;
      font-weight: 300;
    }

    .title {
      width: fit-content;
      margin: 0 auto;
      max-width: 60%;
    }
  }

  .banner-image {
    width: 100%;
    height: 400px;
    max-height: 50%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 0.2s;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  .blog_integra-content {
    @extend .container;
    > * {
      margin-bottom: 1rem;
    }

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    p,
    blockquote {
      font-weight: 300;
      font-size: 0.9rem;
    }

    ul,
    ol {
      padding-left: 20px;
    }

    li {
      transition: 0.2s;
    }

    ul li {
      list-style-type: disc;
    }

    ol li {
      list-style-type: decimal;
    }

    li:hover {
      padding-left: 5px;
    }

    a {
      color: $dark-purple;
      transition: 0.2s;

      &:hover {
        color: $darken-purple;
      }
    }
  }

  .share-row {
    display: flex;
    align-items: center;
    margin-top: 3rem;

    .share-link {
      $size: 40px;
      height: $size;
      width: $size;

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 0.5rem;

      img {
        $size: 20px;
        height: $size;
        width: $size;
      }

      &.facebook {
        background-color: #3b5998;
      }
      &.twitter {
        background-color: #00aced;
      }
      &.linkedin {
        background-color: #007bb6;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }

    .texto {
      font-weight: 300;
    }
  }

  .leia-mais {
    @extend .container;

    .line {
      height: 2px;
      width: 100%;
      background: $purple-gradient;
    }

    .title {
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      margin: 3rem 0;

      .strong {
        display: block;
      }
    }

    .leia-mais-posts {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .blog-item {
        width: 30%;

        @media screen and (max-width: 767px) {
          width: 45%;
          margin-bottom: 2rem;
        }

        @media screen and (max-width: 530px) {
          width: 100%;
        }
      }
    }
  }
}
