.blog-page {
  .topbar {
    @extend .page-topbar;
  }

  .content {
    @extend .container;

    .content-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;

      .subtitle {
        text-transform: uppercase;
        width: 30%;
      }

      .right.form {
        display: flex;
        align-items: center;

        .label {
          display: flex;
          align-items: center;

          img {
            margin-right: 0.5rem;
          }
        }

        .blog-input-group {
          display: flex;
          justify-content: space-between;
          margin-left: 1rem;
          padding-bottom: 0.5rem;
          padding-left: 0.25rem;
          border-bottom: 1px solid rgba($black, 0.2);
          min-width: 250px;

          .input {
            outline: none;
            flex: 1;
          }

          .left-line {
            position: relative;
            margin-left: 1rem;
            color: $light-blue;
            display: flex;
            justify-content: center;
            align-items: center;
            $size: 24px;
            height: $size;
            width: $size;
            cursor: pointer;

            &::before {
              content: "";
              width: 1px;
              height: 100%;
              background-color: rgba(#7146c0, 0.1);
              position: absolute;
              top: 0;
              left: calc(1px - 0.5rem);
            }
          }

          .button {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.75rem;
            background-color: transparent;
          }
        }

        .custom-select {
          color: #1f394c;
          outline: none;
          padding: 0.5rem 0.25rem;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          background-image: url("../svg/chevron-down.svg");
          background-repeat: no-repeat;
          background-position: right center;
        }
      }
    }

    .posts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .blog-item {
        width: 30%;
        margin-bottom: 2rem;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .content {
      .content-header {
        flex-direction: column;

        .subtitle {
          width: 100%;
          text-align: center;
        }

        .right.form {
          flex-direction: column;

          > * {
            margin-top: 1rem;
          }

          .blog-input-group {
            width: 100%;
            max-width: 500px;

            .left-line {
              margin-left: 2rem;
              &::before {
                left: calc(1px - 1rem);
              }
            }
          }
        }
      }

      .posts .blog-item {
        width: 48%;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .content .posts .blog-item {
      width: 100%;
    }
  }
}
