.seja_parceiro-page {
  background: linear-gradient(180deg, $black 0%, #161414 100%);
  padding: 3rem 0;

  .topbar {
    @extend .page-topbar;
    background: $black;
    margin-bottom: 3rem;

    .title {
      padding: 0;
    }
  }

  .content {
    padding: 3rem 0;
    position: relative;

    .background-image {
      position: absolute;
      width: 100%;
      height: auto;
      max-height: 50%;
      object-fit: cover;
      top: 0;
      left: 0;
    }

    .form {
      margin: 0 auto;
      background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
      position: relative;
      padding: 4rem 3rem;
      max-width: 600px;
      border-radius: 10px;
      color: $white;

      .subtitle {
        text-align: center;
        margin: 0 auto;
        font-size: 1.25rem;
      }

      .form-button {
        margin: 3rem auto 0 auto;
      }
    }
  }
}
