.blog-item {
  display: flex;
  flex-direction: column;
  width: fit-content;

  .image-container {
    width: 100%;
    height: 150px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: 0.2s;
    }
  }

  .fake-image {
    background-color: $dark-purple;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      color: $white;
    }
  }

  .content {
    $padding-horizontal: 2rem;
    $border-radius: 15px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-shadow: 0px 12px 56px rgba(61, 63, 64, 0.14);
    padding: 3rem $padding-horizontal;
    height: 175px;
    margin-top: -5px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: $white;
    transition: 0.2s;

    .date {
      position: absolute;
      top: 0;
      left: $padding-horizontal;
      background-color: $dark-purple;
      color: $white;
      font-weight: 300;
      padding: 4.5px 18px;
      font-size: 0.65rem;
      transition: 0.2s;
    }

    .subtitle {
      font-size: 1.05rem;
      color: $black;
    }

    .button {
      $size: 40px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $dark-purple;
      color: $white;
      height: $size;
      width: $size;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
    }
  }

  &:hover {
    .image-container img {
      transform: scale(1.05);
    }

    .content {
      background-color: $dark-purple;
      .date {
        background-color: #8566e8;
      }

      .subtitle {
        color: $white;
      }
    }

    .button {
      background-color: $white;
      color: $dark-purple;
    }
  }
}
