.pagina-acomodacoes {
  background-color: $cinza;

  .titulo {
    @extend .h1;
    text-align: center;
    @include underline();
    padding-top: 3rem;
    margin-bottom: 3rem;
  }

  .listagem {
    display: flex;
    flex-direction: column;
    @extend .container;

    .acomodacao {
      margin-bottom: 2rem;
      display: flex;
      background-color: #fff;
      transition: 0.2s;

      &:hover {
        box-shadow: 0 0 20px rgba(#000, 0.075);
        .direita .topo .subtitulo::after {
          width: 100%;
        }
      }

      .esquerda {
        width: 25%;
        flex-shrink: 0;

        .acomodacao-slider-principal {
          margin-bottom: 1rem;

          .arrow {
            position: absolute;
            z-index: 1;
            top: 50%;
            color: $salmao;
            background-color: rgba(#fff, 0.8);
            padding: 0.5rem;
            transition: background-color 0.2s;

            &.slick-disabled {
              background-color: rgba(#fff, 0.5);
            }

            &:not(.slick-disabled) {
              cursor: pointer;

              &:hover {
                background-color: #fff;
              }
            }

            &.prev {
              left: 0;
            }
            &.next {
              right: 0;
            }
          }

          img {
            width: 100%;
            height: auto;
          }
        }

        .acomodacao-slider-secundario {
          .slick-list {
            margin: 0 -0.5rem;
          }

          .slick-slide {
            margin: 0 0.5rem;
          }
        }
      }

      .direita {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        margin-left: 10%;
        justify-content: space-around;

        .topo {
          .subtitulo {
            text-transform: uppercase;
            @extend .h2;
            @include underline(false);
            letter-spacing: 1px;
            margin-bottom: 3rem;
            width: fit-content;
          }

          .descricao {
            display: flex;
            flex-wrap: wrap;
          }

          .descricao,
          .lista {
            margin-bottom: 1.25rem;
            font-size: 0.875rem;
          }

          .item {
            line-height: 1.3rem;
            letter-spacing: 1px;
            margin-right: 2rem;
            position: relative;
            font-size: 0.875rem;

            &::before {
              content: "";
              position: absolute;
              left: calc(-1rem - 2.5px);
              top: calc(50% - 2.5px);
              height: 5px;
              width: 5px;
              background-color: $salmao;
              border-radius: 50%;
            }
          }

          .observacao {
            display: block;
            margin-bottom: 1.25rem;
            line-height: 1.25rem;
            font-size: 0.875rem;
          }

          .lista-titulo {
            font-size: 0.875rem;
          }
        }

        .botao {
          @include botao(transparent, $salmao, $salmao);
          width: fit-content;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .listagem {
      .acomodacao {
        .esquerda {
          width: 50%;
        }

        .direita {
          justify-content: center;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .listagem {
      .acomodacao {
        flex-direction: column-reverse;
        align-items: center;
        padding: 2rem;

        .esquerda {
          width: 80%;
        }

        .direita {
          margin-left: 0;
          align-items: center;
          width: 100%;

          .topo {
            .subtitulo {
              padding-top: 0;
              text-align: center;
              margin: {
                left: auto;
                right: auto;
              }
            }

            .descricao {
              flex-direction: column;
              align-items: center;
              .item {
                margin-bottom: .25rem;
              }
            }
          }
        }
      }
    }
  }
}
