.pagina-contato {
  background-color: $cinza;
  background-image: url("../img/contato-fundo.png");
  background-repeat: no-repeat;
  background-position: right bottom;

  .conteudo {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .esquerda {
      width: 50%;

      .subtitulo {
        padding-top: 3rem;
        @extend .h2;
        font-weight: 300;
        letter-spacing: 2px;
      }

      .titulo {
        @include underline(false);
        @extend .h1;
        margin-bottom: 3rem;
        letter-spacing: 1px;
        line-height: 2rem;
      }

      .formulario {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;

        .linha {
          display: flex;
          justify-content: space-between;

          .input-email {
            width: 58%;
          }
          .input-telefone {
            width: 38%;
          }
        }

        .input-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 1.5rem;

          .label {
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
            transition: 0.2s;

            &::before {
              content: "â—";
              color: #beb9b0;
              margin-right: 0.5rem;
            }
          }

          .input {
            padding: 0.5rem 1rem;
            border: none;
            filter: drop-shadow(0px 1px 2px #d6e1ed);
            border-radius: 4px;
            resize: none;
            transition: 0.2s;
            border: 1px solid transparent;

            &.erro {
              border-color: red;
            }
          }

          &:focus-within {
            .label::before {
              color: $salmao;
            }

            .input {
              filter: drop-shadow(0 5px 5px #d6e1ed);
              border-bottom: 1px solid $salmao;
            }
          }
        }
        .botao-mensagem {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .botao {
            padding: 0.3rem 1.75rem;
            background-color: $salmao;
            font-weight: 800;
            font-family: $fonte-titulo;
            text-transform: uppercase;
            color: #fff;
            border: 2px solid $salmao;
            transition: 0.2s;
            margin-right: 1rem;

            &:hover {
              background-color: transparent;
              color: $salmao;
            }
          }

          .mensagem {
            padding: 0.5rem;
            width: 60%;
            flex-shrink: 0;
            height: 50px;

            > div {
              height: 100%;
              align-items: center;
              display: none;
              position: relative;
              padding-left: 12px;
              > i,
              img {
                margin-right: 0.5rem;
              }

              &::before {
                content: "";
                height: 12px;
                width: 12px;
                position: absolute;
                left: -6px;
                top: calc(50% - 6px);
                transform: rotate(45deg);
              }
            }

            .sucesso {
              color: #91dc5a;

              &,
              &::before {
                background-color: #defde9;
              }
            }

            .erro {
              color: #c72d2d;

              &,
              &::before {
                background-color: #e9a3a3;
              }
            }

            .carregando {
              color: $salmao;
              background-color: #fff;

              &,
              &::before {
                background-color: #fff;
              }
            }
          }
        }
      }
    }

    .direita {
      @include informacoes-contato(true);
      width: 40%;
    }
  }

  @media screen and (max-width: 992px) {
    .conteudo {
      flex-direction: column;

      .esquerda,
      .direita {
        width: 100%;
        max-width: 400px;
      }

      .direita {
        .informacoes {
          flex-direction: row;
          margin-bottom: 4rem;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    background-size: 150% auto;

    .conteudo {
      .esquerda {
        .formulario {
          .linha {
            flex-direction: column;

            .input-group {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
