section.banner {
  .banner-slider {
    .banner-item {
      position: relative;
      overflow: hidden;

      .imagem-fundo {
        position: absolute;
        height: auto;
        width: 100%;
        z-index: -1;

        @media screen and (max-width: 540px) {
          height: 100%;
          width: auto;
          object-fit: cover;
        }
      }

      .conteudo {
        @extend .container;
        padding: 10% 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;

        .subtitulo {
          font-weight: 300;
          font-size: 1.25rem;
        }

        .titulo {
          font-size: 3rem;
          line-height: 3.5rem;
          letter-spacing: 3px;
          margin: {
            top: 1rem;
            bottom: 3rem;
          }
        }

        .link {
          color: #fff;
          font-weight: 700;
          font-size: 1.25rem;
          position: relative;

          &::before,
          &::after {
            content: "";
            width: 40%;
            height: 200%;
            position: absolute;
            z-index: -1;
          }

          &::before {
            bottom: -100%;
            left: -15px;
            border: {
              bottom: 2px solid $salmao;
              left: 2px solid $salmao;
            }
          }
          &::after {
            top: -100%;
            right: -15px;
            border: {
              top: 2px solid $salmao;
              right: 2px solid $salmao;
            }
          }
        }

        @media screen and (max-width: 768px) {
          align-items: center;
          text-align: center;

          .titulo {
            font-size: 2.5rem;
          }

          .link {
            font-size: 1rem;
          }
        }
        @media screen and (max-width: 540px) {
          .titulo {
            font-size: 2rem;
          }
        }
      }
    }

    .slick-dots {
      display: flex;

      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);

      li:not(:last-child) {
        margin-right: 1rem;
      }

      li {
        button {
          font-size: 0;
          border: 1px solid #fff;
          background-color: transparent;
          height: 10px;
          width: 10px;
          transition: background-color 0.2s;
          border-radius: 0;
        }

        &.slick-active {
          button {
            background-color: #fff;
          }
        }
      }
    }
  }
}

section.acomodacoes {
  background-color: #f4f6f8;

  .acomodacoes-conteudo {
    @extend .container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;

    .titulo {
      text-align: center;
      @include underline();
    }

    .lista {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 3rem 0;

      .item {
        width: 28%;
        background-color: #ebedf1;

        .imagem {
          z-index: -1;
          width: 100%;
          height: auto;
        }
        .inferior {
          padding: 1rem;

          .conteudo {
            margin-top: -30%;
            background-color: #fff;
            position: relative;
            padding: 2rem;
            text-align: center;
            border: 2px solid transparent;
            transition: 0.2s;

            .subtitulo {
              @include underline();
              margin-bottom: 1.5rem;
            }

            .texto {
              padding: 1.5rem 0;
              font-size: 0.9rem;
            }

            .link {
              @include botao-transparente(transparent, $salmao, $salmao, 0.25rem 0.75rem);
            }
          }
        }

        &:hover {
          .inferior {
            .conteudo {
              border-color: $salmao;
              box-shadow: 0 0 20px 0px rgba(#000, 0.05);

              .subtitulo {
                color: $salmao;
              }
            }
          }
        }
      }

      @media screen and (max-width: 768px) {
        justify-content: space-evenly;
        .item {
          width: 40%;
          margin-bottom: 1rem;
        }
      }
      @media screen and (max-width: 568px) {
        .item {
          width: 80%;
        }
      }
    }

    .botao {
      @include botao-transparente(transparent, $salmao, $salmao, 0.25rem 0.75rem);
    }
  }
}

section.sobre {
  @extend .container;

  .linha {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;

    .esquerda {
      width: 64%;

      .subtitulo {
        font-weight: 300;
      }

      .titulo {
        @include underline(false);
        display: inline;
      }

      .texto {
        padding: 2.5rem 0;
        font-size: 0.9rem;
      }

      .estrutura {
        font-weight: 300;
        width: fit-content;
        position: relative;

        &::after {
          content: url("../img/sobre-seta.png");
          position: absolute;
          top: calc(50% + 2px);
          right: -125%;
        }
        @media screen and (max-width: 768px) {
          &::after {
            right: -100%;
          }
        }
      }
    }
    @media screen and (max-width: 550px) {
      padding-bottom: 2rem;
      .esquerda {
        .estrutura {
          margin: 0 auto;

          &::after {
            content: none;
          }
        }
      }
    }

    .direita {
      width: 28%;
      padding: 0.5rem;
      position: relative;
      background-color: #fff;
      display: flex;
      align-items: center;

      &::after,
      &::before {
        content: "";
        width: 100px;
        height: 70px;
        position: absolute;
        z-index: -1;
        transition: 0.2s;
      }

      &::after {
        right: -25px;
        top: -20px;
        border: {
          top: 4px solid #ebedf1;
          right: 4px solid #ebedf1;
          left: 4px solid #ebedf1;
        }
      }
      &::before {
        left: -25px;
        bottom: -20px;
        border: {
          right: 4px solid #ebedf1;
          bottom: 4px solid #ebedf1;
          left: 4px solid #ebedf1;
        }
      }

      img {
        transition: transform 0.2s;
      }

      &:hover {
        &::after,
        &::before {
          transition: 0.8s;
        }
        &::after {
          top: 50%;
          right: 50%;
        }
        &::before {
          bottom: 50%;
          left: 50%;
        }
        img {
          transform: scale(1.1);
        }
      }

      @media screen and (max-width: 1235px) {
        background: transparent;
        &::after,
        &::before {
          content: none;
        }
      }
    }

    @media screen and (max-width: 768px) {
      align-items: center;
      justify-content: center;

      .direita {
        display: none;
      }
    }
  }

  .estrutura-slider {
    .estrutura-arrows-container {
      padding: 1rem;
      background-color: #fff;
      position: absolute;
      bottom: -17px;
      z-index: 1;
      cursor: pointer;

      .estrutura-arrows {
        background-color: $salmao;
        color: #fff;
        padding: 0.5rem 0.75rem;
        border: 1px solid $salmao;
        transition: background-color 0.2s, color 0.2s;

        &:hover {
          background-color: transparent;
          color: $salmao;
        }
      }

      &#estrutura-prev-arrow {
        padding-right: 0;
        right: 30%;
      }
      &#estrutura-next-arrow {
        padding-left: 0;
        left: 70%;
      }
    }
  }

  .estrutura-item {
    position: relative;
    height: 300px;

    img {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .texto {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(#000, 0.7);
      transition: opacity 0.3s;

      .titulo {
        color: #fff;
        @extend .h2;
        font-weight: 300;
        margin-bottom: 1rem;
      }

      .botao {
        @include botao-transparente(transparent, $salmao, #fff);
      }
    }

    &:hover {
      .texto {
        opacity: 1;
      }
    }
  }
}
