.pagina-localizacao {
  background-color: $cinza;
  display: flex;
  flex-direction: column;
  align-items: center;

  .titulo {
    @extend .h1;
    @include underline();
    padding-top: 3rem;
    margin-bottom: 2.5rem;
  }

  .subtitulo {
    margin-bottom: 3.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;

    a {
      color: #000;
      transition: color 0.2s;

      &:hover {
        color: $salmao;
      }
    }
  }

  .mapa {
    width: 100%;
    min-height: 50vh;
    border: none;
  }
}
