html,
body,
.pagina-sobre {
  position: relative;
  z-index: -1;
}
.pagina-sobre {
  background-color: $cinza;

  .linha .direita {
    background-color: $cinza !important;
  }

  padding-bottom: 4rem;
}
