.cabecalho {
  .conteudo {
    @extend .container;

    .primeira-linha {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 0;

      .link {
        display: flex;
        align-items: center;

        i {
          margin-right: 0.5rem;
        }
      }

      .esquerda .link {
        color: #000;
        font-weight: bold;

        i {
          color: $salmao;
        }
      }

      .direita .link {
        background-color: $salmao;
        color: white;
        padding: 0.75rem;
      }
    }

    .segunda-linha {
      padding-bottom: 1rem;
      .itens {
        display: flex;
        justify-content: space-between;

        .item {
          font-weight: 300;
          font-family: $fonte-titulo;
          color: #000;
          font-size: 1.1rem;

          .logo {
            position: absolute;
            left: calc(50% - 215px / 2);
            top: 0;
            width: 215px;
            z-index: 2;
          }
        }
      }
    }
  }
}
