.rodape {
  background-color: $salmao;
  padding: 2rem 0;
  margin-top: 4rem;

  .conteudo {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      color: #fff;
      font-size: 0.8rem;
    }
  }
}
