.whatsapp-popup {
	position: fixed;
	right: 2.5%;
	bottom: 5%;
	background-color: #25d366;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(#000, 0.1);
	transition: 0.2s;
	z-index: 9999;

	&:hover {
		box-shadow: 0 0 20px rgba(#000, 0.2);
		transform: scale(1.1);
	}

	.link {
		color: #fff;

		i {
			font-size: 3em;
		}
	}

	@media screen and (max-width: 600px) {
		height: 65px;
		width: 65px;

		.link i {
			font-size: 2.5em;
		}
	}
}
