.footer {
	&__group {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		height: 75px;
		background-color: rgba($white, 0.2);

		&__icon {
			height: 30%;
			width: auto;
		}
	}
}
