.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $white;

	&__title-row {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		$margin: 0.25rem;

		&__logo {
			width: 50px;
			margin-right: $margin;
		}

		&__title {
			margin-left: $margin;
			font-weight: 600;
			text-transform: capitalize;
		}
	}

	&__icon {
		cursor: pointer;
		margin-top: 0.5rem;
		$size: 20px;
		width: $size;
		height: $size;

		transition: transform 0.2s;

		&--active {
			transform: rotate(180deg);
		}
	}

	&__dropdown {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s, opacity 0.2s;
		width: 100%;
		$margin: 0.2rem;
		$border: 0.25px solid $gray;

		&__qrcode {
			width: 60%;
			margin-bottom: $margin;
			margin-top: 1rem;
		}

		&__info-row {
			display: flex;
			align-items: center;
			margin: $margin 0;

			&:last-of-type {
				margin-bottom: 1rem;
			}

			&__title {
				font-weight: 300;
				margin-right: 0.3rem;
			}
		}

		&__link-row {
			display: flex;
			align-items: center;
			width: 100%;
			color: $white;
			position: relative;
			padding: 0.5rem 0;

			&:nth-child(even) {
				border-top: $border;
				border-bottom: $border;
			}

			&__icon {
				width: 22px;
				margin-right: 0.5rem;
			}

			&__title {
				display: flex;
				flex-direction: column;

				&__helper {
					font-size: 0.75rem;
					color: $gray;
				}
			}

			&__arrow {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&__exit-link {
			width: 100%;
			border-top: $border;
			border-bottom: $border;
			text-align: center;
			color: $white;
			text-transform: uppercase;
			margin: 1.25rem 0;
			padding: 0.5rem 0;
			font-size: 0.8rem;
		}
	}
}
