.banner-slider {
	.banner-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 90vh;
		position: relative;

		.background-image {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		.col {
			width: 30%;
			color: #fff;

			&.left {
				text-align: end;
				text-transform: uppercase;

				.welcome {
					letter-spacing: 2px;
					font-size: 0.9rem;
					background-color: $yellow;
					color: $black;
					padding: 2px 0;

					&:not(.strong) {
						font-weight: 400;
					}
				}

				.title {
					font-size: 2.5rem;
				}
			}

			&.middle {
				.text {
					font-size: 1.5rem;
					font-weight: 600;
					margin-bottom: 2rem;
				}

				.button-container {
					display: flex;
					align-items: center;
					width: 100%;

					.button {
						padding: 1rem 0;
						width: 50%;
						text-align: center;
						text-transform: uppercase;
						font-size: 0.8rem;
						font-weight: 600;
						transition: 0.2s;

						&.button-yellow {
							background-color: $yellow;
							color: $black;

							&:hover {
								background-color: $black;
								color: $yellow;
							}
						}

						&.button-black {
							background-color: $black;
							color: $white;

							&:hover {
								background-color: $yellow;
								color: $black;
							}
						}
					}
				}
			}

			&.right {
				display: flex;
				justify-content: center;
				align-items: center;

				.arrow {
					height: 50px;
					width: 50px;
					border: 1px solid $white;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					transition: 0.2s;
					margin: 0 0.25rem;

					&:hover {
						background-color: rgba($white, 0.75);
						color: $black;
					}
				}
			}
		}
	}
}

.encontre {
	background: $purple-gradint;
	.encontre-content {
		@extend .container;
		padding: {
			top: 2rem;
			bottom: 2rem;
		}

		.top {
			display: flex;
			align-items: center;
			margin-left: -100px;

			.title {
				color: $white;
				@extend .h1;
				font-weight: 600;
				max-width: 400px;
			}

			.icon {
				transform: scale(-1, 1);
				margin-right: 10px;

				svg {
					height: 90px;
					width: 90px;
					color: $yellow;
				}
			}
		}

		.form {
			display: flex;
			align-items: flex-end;

			.input-group {
				position: relative;
				margin-right: 2rem;
				margin-top: 1rem;

				&::after,
				&::before {
					content: '';
					position: absolute;
					left: 0;
					bottom: 1.5px;
					height: 1.5px;
					transition: width 0.2s;
				}

				&::before {
					background-color: $white;
					width: 100%;
				}

				&::after {
					width: 0;
					background-color: $yellow;
				}

				.label {
					position: absolute;
					bottom: 8px;
					left: 0;
					font-size: 0.8rem;
					color: $white;
					transition: 0.2s;
					cursor: text;
				}

				.input {
					background-color: transparent;
					padding-top: 1rem;
					padding-bottom: 0.3rem;
					outline: none;
					color: $white;
					font-size: 0.9rem;
				}

				&.active {
					&::after {
						width: 100%;
					}
					.label {
						bottom: 1.5rem;
						font-size: 0.7rem;
						cursor: default;
					}
				}
			}

			.button {
				height: 100%;
				background-color: $black;
				padding: 0.9rem 3rem;
				color: $white;
				font-size: 0.8rem;
				font-weight: 600;
				text-transform: uppercase;
				transition: 0.2s;

				&:hover {
					background-color: $yellow;
					color: $black;
				}
			}
		}
	}
}

.itens-grandes-slider {
	.item-grande {
		display: flex;
		justify-content: center;
		align-items: center;

		.left,
		.right {
			height: 450px;
			width: 50%;
		}

		.left {
			background-color: $dark-grey;
			color: $white;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding-left: calc((100vw - 1100px) / 2 + 0.5rem);
			padding-right: 2rem;

			.title {
				margin: 1rem 0;
			}

			.text {
				font-weight: 300;
				line-height: 1.5rem;
			}
		}

		.right {
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

.itens-pequenos-container {
	display: flex;

	.slick-list {
		overflow-y: visible;
		padding: 3rem 0;
		margin-top: -3rem;
	}

	.itens-pequenos-slider {
		width: calc(100% / 7 * 6);

		.item-pequeno {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			cursor: pointer;
			margin: 0 -1px;
			transition: 0.2s;
			height: 125px;
			width: 125px;

			.title {
				margin-top: 1rem;
			}

			&.active-item {
				transform: scale(1.2);
				border-radius: 8px;
			}
		}
	}

	.arrows {
		width: calc(100% / 7);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3rem 0;
		margin-top: -3rem;

		.arrow {
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
			width: 50px;
			height: 50px;
			cursor: pointer;
		}
	}
}

.numeros {
	margin: 3rem 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -100%;
		left: 0;
		height: 300%;
		width: 50%;
		background-color: $dark-grey;
		z-index: -1;
	}

	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: -25%;
		width: 90%;
		height: 150%;
		background-color: $yellow;
		z-index: -1;
	}

	.numeros-content {
		@extend .container;
		display: flex;
		align-items: center;

		.item {
			display: flex;
			flex-direction: column;
			margin: 0 2rem;

			.title {
				font-size: 2.5rem;
				color: $dark-blue;
				text-transform: uppercase;
				margin-bottom: 0.5rem;
			}

			.text {
				color: $dark-blue;
			}
		}
	}
}

.precisa {
	display: flex;
	align-items: center;
	padding-left: 3rem;
	padding-top: 3rem;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 110%;
		width: 50%;
		background-color: $dark-grey;
		z-index: -1;
		border-radius: 0 0 120px 0;
	}

	.left,
	.right {
		width: 50%;
	}

	.left {
		display: flex;
		padding-right: 2rem;
		color: $white;

		.map {
			width: 60%;
			height: auto;
		}

		.subtitle {
			margin: -1rem 2rem 0 -5rem;
			line-height: 1rem;
		}

		.list {
			.item {
				position: relative;
				font-size: 0.85rem;
				margin-bottom: 0.75rem;

				&::before {
					content: '';
					position: absolute;
					left: -16px;
					top: 4px;
					height: 8px;
					width: 8px;
					background-color: $yellow;
					border-radius: 50%;
				}
			}
		}
	}

	.right {
		padding-right: calc((100vw - 1100px) / 2 + 0.5rem);
		padding-left: 2rem;
		margin-bottom: 5rem;

		.title {
			color: $dark-blue;
			font-size: 2.5rem;
			margin-bottom: 3rem;

			.small {
				display: block;
				font-weight: 500;
				font-size: 1.25rem;
			}
		}

		.button {
			background-color: $yellow;
			color: $dark-blue;
			text-transform: uppercase;
			font-weight: 600;
			padding: 0.7rem 1.25rem;
			font-size: 0.8rem;
			transition: 0.2s;

			&:hover {
				background-color: $dark-blue;
				color: $yellow;
			}
		}
	}
}

.servicos {
	/* background-image: url("#{$path}/assets/dist/images/servicos-background.png"); */
	background-color: #000;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	padding-top: 15%;
	padding-bottom: 5rem;

	.servicos-content {
		@extend .container;
		color: $white;

		.title {
			text-transform: uppercase;
		}

		.subtitle {
			margin: 1rem 0;
			font-weight: 400;
		}

		.list {
			display: flex;
			justify-content: space-between;
			font-size: 0.8rem;
			margin-bottom: 2rem;

			.list-group {
				.item {
					color: $yellow;

					&::before {
						content: '›';
						font-size: 1.5rem;
						margin-right: 0.5rem;
						vertical-align: -7.5%;
						transition: 0.2s;
					}

					&:hover {
						&::before {
							margin-left: 0.4rem;
							margin-right: 0.1rem;
						}
					}

					&:not(:last-child) {
						margin-bottom: 0.5rem;
					}
				}
			}
		}

		.button {
			background-color: $yellow;
			color: $dark-grey;
			padding: 0.75rem 1.5rem;
			font-size: 0.75rem;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}
