.banner-slider {
	.banner-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 90vh;
		position: relative;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 50%;
		}

		&::before {
			bottom: 0;
			left: 0;
			height: 30%;
			border-top: 2px solid rgba($white, 0.2);
			border-right: 2px solid rgba($white, 0.2);
			border-top-right-radius: 200px;
		}
		&::after {
			top: 0;
			right: 0;
			height: 56%;
			border-bottom: 2px solid rgba($white, 0.2);
			border-right: 2px solid rgba($white, 0.2);
			border-bottom-right-radius: 200px;
		}

		.background-image {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		.col {
			width: 30%;
			color: #fff;
			z-index: 2;

			&.left {
				text-align: end;
				text-transform: uppercase;

				.welcome {
					letter-spacing: 2px;
					font-size: 0.9rem;
					background-color: $yellow;
					color: $black;
					padding: 2px 0;

					&:not(.strong) {
						font-weight: 400;
					}
				}

				.title {
					font-size: 2.5rem;
				}

				&::after {
					content: 'Desenvolvimento Humano e Organizacional';
					text-transform: uppercase;
					color: rgba($white, 0.2);
					position: absolute;
					bottom: 12%;
					left: 8%;
				}
			}

			&.middle {
				.text {
					font-size: 1.5rem;
					font-weight: 600;
					margin-bottom: 2rem;
				}

				.button-container {
					display: flex;
					align-items: center;
					width: 100%;

					.button {
						padding: 1rem 0;
						width: 50%;
						text-align: center;
						text-transform: uppercase;
						font-size: 0.8rem;
						font-weight: 600;
						transition: 0.2s;

						&.button-yellow {
							background-color: $yellow;
							color: $black;

							&:hover {
								background-color: $black;
								color: $yellow;
							}
						}

						&.button-black {
							background-color: $black;
							color: $white;

							&:hover {
								background-color: $yellow;
								color: $black;
							}
						}
					}
				}
			}

			&.right {
				display: flex;
				justify-content: center;
				align-items: center;

				.arrow {
					height: 50px;
					width: 50px;
					border: 1px solid $white;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					transition: 0.2s;
					margin: 0 0.25rem;

					&:hover {
						background-color: rgba($white, 0.75);
						color: $black;
					}
				}
			}
		}
	}
}

.encontre {
	background: $purple-gradint;
	.encontre-content {
		@extend .container;
		padding: {
			top: 2rem;
			bottom: 2rem;
		}

		.top {
			display: flex;
			align-items: center;
			margin-left: -100px;

			.title {
				color: $white;
				@extend .h1;
				font-weight: 600;
				max-width: 400px;
			}

			.icon {
				transform: scale(-1, 1);
				margin-right: 10px;

				svg {
					height: 90px;
					width: 90px;
					color: $yellow;
				}
			}
		}

		.form {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			.input-group {
				position: relative;
				margin-right: 2rem;
				margin-top: 1rem;

				&::after,
				&::before {
					content: '';
					position: absolute;
					left: 0;
					bottom: 1.5px;
					height: 1.5px;
					transition: width 0.2s;
				}

				&::before {
					background-color: $white;
					width: 100%;
				}

				&::after {
					width: 0;
					background-color: $yellow;
				}

				.label {
					position: absolute;
					bottom: 8px;
					left: 0;
					font-size: 0.8rem;
					color: $white;
					transition: 0.2s;
					cursor: text;
				}

				.input {
					background-color: transparent;
					padding-top: 1rem;
					padding-bottom: 0.3rem;
					outline: none;
					color: $white;
					font-size: 0.9rem;
					width: 200px;

					&.pequeno {
						width: 150px;
					}
				}

				&.active {
					&::after {
						width: 100%;
					}
					.label {
						bottom: 1.5rem;
						font-size: 0.7rem;
						cursor: default;
					}
				}
			}

			.button {
				height: 100%;
				background-color: $black;
				padding: 0.9rem 3rem;
				color: $white;
				font-size: 0.8rem;
				font-weight: 600;
				text-transform: uppercase;
				transition: 0.2s;

				&:hover {
					background-color: $yellow;
					color: $black;
				}
			}
		}
	}
}

.itens-grandes-slider {
	.item-grande {
		display: flex;
		justify-content: center;
		align-items: center;

		.left,
		.right {
			height: 450px;
			width: 50%;
		}

		.left {
			background-color: $dark-grey;
			color: $white;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding-left: calc((100vw - 1100px) / 2 + 0.5rem);
			padding-right: 2rem;

			.title {
				margin: 1rem 0;
			}

			.text {
				font-weight: 300;
				line-height: 1.5rem;
			}
		}

		.right {
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

.itens-pequenos-container {
	display: flex;

	.slick-list {
		overflow-y: visible;
		padding: 3rem 0;
		margin-top: -3rem;
	}

	.itens-pequenos-slider {
		width: calc(100% / 7 * 6);

		.item-pequeno {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			cursor: pointer;
			margin: 0 -1px;
			transition: 0.2s;
			height: 125px;
			width: 125px;

			.title {
				margin-top: 1rem;
			}

			&:hover {
				transform: scale(1.1);
				border-radius: 8px;
			}

			&.active-item {
				transform: scale(1.2);
				border-radius: 8px;
			}
		}
	}

	.arrows {
		width: calc(100% / 7);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3rem 0;
		margin-top: -3rem;

		.arrow {
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
			width: 50px;
			height: 50px;
			cursor: pointer;
			transition: 0.2s;
			margin: 0 0.25rem;

			&:hover {
				box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
			}
		}
	}
}

.numeros {
	margin: 3rem 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -100%;
		left: 0;
		height: 300%;
		width: 50%;
		background-color: $dark-grey;
		z-index: -1;
	}

	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: calc(-25% / 2);
		width: 90%;
		height: 125%;
		background-color: $yellow;
		z-index: -1;
	}

	.numeros-content {
		@extend .container;
		display: flex;
		align-items: center;

		.item {
			display: flex;
			flex-direction: column;
			margin: 0 2rem;
			padding: 0.5rem;
			border: 1.5px solid transparent;
			border-radius: 8px;
			transition: 0.2s;

			.title {
				font-size: 2.5rem;
				color: $dark-blue;
				text-transform: uppercase;
				margin-bottom: 0.5rem;
			}

			.text {
				color: $dark-blue;
			}

			&:hover {
				border-color: $dark-blue;
			}
		}
	}
}

.precisa {
	display: flex;
	align-items: center;
	padding-left: 3rem;
	padding-top: 3rem;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 110%;
		width: 50%;
		background-color: $dark-grey;
		border-radius: 0 0 120px 0;
		box-shadow: -40px 25px $yellow;
	}

	.left,
	.right {
		width: 50%;
	}

	.left {
		display: flex;
		padding-right: 2rem;
		color: $white;

		.map {
			width: 60%;
			height: auto;
			transition: 0.2s;
			z-index: 2;

			&:hover {
				transform: scale(1.05);
			}
		}

		.subtitle {
			margin: -1rem 2rem 0 -5rem;
			line-height: 1rem;
		}

		.list {
			.item {
				position: relative;
				font-size: 0.85rem;
				margin-bottom: 0.75rem;

				&::before {
					content: '';
					position: absolute;
					left: -16px;
					top: 4px;
					height: 8px;
					width: 8px;
					border: 1px solid $yellow;
					background-color: $yellow;
					border-radius: 50%;
					transition: 0.2s;
				}

				&:hover {
					&::before {
						background-color: transparent;
						left: -20px;
					}
				}
			}
		}
	}

	.right {
		padding-right: calc((100vw - 1100px) / 2 + 0.5rem);
		padding-left: 2rem;
		margin-bottom: 10rem;

		.title {
			color: $dark-blue;
			font-size: 2.5rem;
			margin-bottom: 3rem;

			.small {
				display: block;
				font-weight: 500;
				font-size: 1.25rem;
			}
		}

		.button {
			background-color: $yellow;
			color: $dark-blue;
			text-transform: uppercase;
			font-weight: 600;
			padding: 0.7rem 1.25rem;
			font-size: 0.8rem;
			transition: 0.2s;

			&:hover {
				background-color: $dark-blue;
				color: $yellow;
			}
		}
	}
}

.servicos {
	background-image: url('#{$path}/assets/dist/images/servicos-background.png'), linear-gradient(68.52deg, #000000 40.28%, rgba(0, 0, 0, 0) 82.02%);
	background-size: auto 100%, cover;
	background-repeat: no-repeat;
	background-position: top right, top right;
	padding-top: 15rem;
	padding-bottom: 5rem;
	margin-top: -5rem;

	.servicos-content {
		@extend .container;
		color: $white;

		.title {
			text-transform: uppercase;
		}

		.subtitle {
			margin: 1rem 0;
			font-weight: 400;
		}

		.list {
			display: flex;
			justify-content: space-between;
			font-size: 0.8rem;
			margin-bottom: 2rem;

			.list-group {
				.item {
					color: $yellow;

					&::before {
						content: '›';
						font-size: 1.5rem;
						margin-right: 0.5rem;
						vertical-align: -7.5%;
						transition: 0.2s;
					}

					&:hover {
						&::before {
							margin-left: 0.4rem;
							margin-right: 0.1rem;
						}
					}

					&:not(:last-child) {
						margin-bottom: 0.5rem;
					}
				}
			}
		}

		.button {
			background-color: $yellow;
			color: $dark-grey;
			padding: 0.75rem 1.5rem;
			font-size: 0.75rem;
			font-weight: 700;
			text-transform: uppercase;
			transition: 0.2s;

			&:hover {
				border-radius: 8px;
				color: $yellow;
				background-color: $dark-blue;
			}
		}
	}
}

.midia {
	@extend .container;
	padding-top: 5rem;
	padding-bottom: 2rem;
	overflow: hidden;

	.list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.article {
			width: 30%;
			min-width: 300px;
			margin-top: 2rem;
			margin-bottom: 1rem;
			padding: 1rem;
			transition: 0.2s;

			&:not(:nth-child(3n)) {
				position: relative;
				&::after {
					content: '';
					height: 50%;
					width: 1px;
					background-color: rgba(#c4c4c4, 0.3);
					position: absolute;
					right: -5%;
					top: 25%;
				}
			}

			&:nth-child(-n + 3) {
				position: relative;
				&::before {
					content: '';
					height: 1px;
					width: 150%;
					background-color: rgba(#c4c4c4, 0.3);
					position: absolute;
					bottom: -1rem;
					left: 0;
				}
			}

			.subtitle {
				font-size: 1rem;
				color: $dark-blue;

				&::before {
					content: '›';
					margin-right: 0.5rem;
					color: $yellow;
					font-weight: 800;
					font-size: 1.25rem;
					transition: 0.2s;
				}

				.date {
					font-weight: 400;
				}
			}

			&:hover {
				box-shadow: 0px 4px 50px rgba(150, 132, 190, 0.18);
				.subtitle::before {
					margin-left: 0.25rem;
					margin-right: 0.25rem;
				}
			}
		}
	}

	.button {
		text-transform: uppercase;
		color: $dark-blue;
		display: flex;
		align-items: center;
		font-size: 0.8rem;
		width: fit-content;
		margin: 0 auto;
		margin-top: 1.5rem;
		position: relative;
		transition: color 0.2s;
		padding: 0.5rem 0 0.5rem 0.75rem;
		font-weight: 600;

		svg {
			color: $yellow;
			margin-left: 0.5rem;
		}

		&::after {
			content: '';
			position: absolute;
			background-color: $dark-blue;
			right: 0;
			width: 25px;
			height: 25px;
			z-index: -1;
			border-radius: 12px;
			transition: width 0.2s;
		}

		&:hover {
			color: $white;
			&::after {
				width: 100%;
			}
		}
	}
}

.blog {
	background-color: $light-grey;
	padding-top: 5rem;
	padding-bottom: 3rem;

	.blog-content {
		@extend .container;

		.list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin: 2rem 0;

			.article {
				width: 30%;
				min-width: 300px;
				margin-bottom: 1rem;
				display: flex;
				flex-direction: column;

				.article-content {
					background-color: $white;
					padding: 1rem 1.5rem;

					.date {
						font-size: 0.9rem;
						font-weight: 300;
						color: $yellow;
					}

					.subtitle {
						font-weight: 600;
						font-size: 1.1rem;
						margin: 0.5rem 0 1rem;
					}

					.text {
						font-weight: 300;
						font-size: 0.9rem;
					}
				}

				.link {
					align-self: flex-end;
					background-color: $yellow;
					color: $white;
					width: 50px;
					height: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: 0.2s;

					svg {
						width: 40px;
						height: 40px;
					}

					&:hover {
						background-color: #e8a604;
					}
				}
			}
		}
	}
}

.banner-slider,
.encontre,
.itens-grandes-slider,
.itens-pequenos-slider,
.numeros,
.precisa,
.servicos,
.cta,
.footer {
	display: none !important;
}
