.single-page {
	.top {
		padding: 4rem 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		.date {
			background-color: $black;
			color: $white;
			padding: 0.25rem 0.5rem;
			margin-bottom: 2rem;
			font-size: 0.75rem;
		}

		.title {
			text-transform: uppercase;
		}
	}

	.banner {
		max-height: 450px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
			height: 100%;
			transition: 0.2s;
		}

		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}

	.content {
		@extend .container;
		padding-top: 5rem;
		padding-bottom: 5rem;
		text-align: justify;

		> * {
			margin-bottom: 1.5rem;
			letter-spacing: 0.5px;
			line-height: 20px;
		}

		p,
		blockquote {
			font-weight: 300;
			font-size: 0.9rem;
		}

		ul,
		ol {
			padding-left: 20px;
		}

		li {
			transition: 0.2s;
		}

		ul li {
			list-style-type: disc;
		}

		ol li {
			list-style-type: decimal;
		}

		li:hover {
			padding-left: 5px;
		}

		a {
			color: $yellow;
			text-decoration: underline;
			transition: 0.2s;

			&:hover {
				color: darken($yellow, 0.5);
			}
		}
	}

	.compartilhe {
		@extend .container;
		display: flex;
		align-items: center;
		padding: 2rem 1rem;

		.texto {
			color: #545454;
			font-weight: bold;
		}

		.link {
			opacity: 0.75;
			transition: 0.2s;

			&:hover {
				opacity: 1;
			}
		}

		> *:not(:last-child) {
			margin-right: 1rem;
		}
	}

	.relacionadas {
		background-image: linear-gradient(180deg, #f3f5f6 0%, rgba(243, 245, 246, 0) 43.33%);

		.relacionadas-content {
			@extend .container;
			padding: 4rem 1rem;

			.title {
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 4rem;
			}

			.list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;

				.article {
					width: 30%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					.image {
						height: 200px;
						overflow: hidden;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 10px;

						img {
							transition: 0.3s;
						}

						&.with-image {
							img {
								object-fit: cover;
								height: 100%;
								width: 100%;
							}
						}
						&.no-image {
							width: 100%;
							background-color: $dark-grey;
						}
					}

					.date {
						background-color: $yellow;
						color: $black;
						font-weight: 500;
						padding: 0.15rem 0.25rem;
						font-size: 0.75rem;
						margin: 0.5rem 0;
						display: inline-block;
					}

					.subtitle {
						font-size: 1.25rem;
						margin-bottom: 0.5rem;
					}

					.button {
						margin-top: auto;
						display: flex;
						justify-content: center;
						align-items: center;
						text-transform: uppercase;
						font-weight: 600;
						transition: 0.2s;
						color: $black;
						border: 1px solid rgba($black, 0.9);
						font-size: 0.65rem;
						font-weight: 600;
						padding: 0.45rem 1.25rem;

						.icon {
							height: 20px;
							width: 20px;
							background-color: $yellow;
							border-radius: 50%;
							margin-left: 1rem;
							margin-right: 0.25rem;
							display: flex;
							justify-content: center;
							align-items: center;
							transition: 0.2s;

							svg {
								color: $black;
								height: 15px;
								width: 15px;
							}
						}

						&:hover {
							background-color: $black;
							color: $white;
							filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

							.icon {
								margin-left: 1.25rem;
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 620px) {
		.top {
			.title {
				font-size: 1.5rem;
			}
		}

		.relacionadas .relacionadas-content .list .article {
			width: 100%;
			margin-bottom: 1rem;
			max-width: 450px;
		}
	}
}
