@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");

$fonte-titulo: "Oswald", sans-serif;
$fonte-texto: "Arimo", sans-serif;

$salmao: #d9704b;
