* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: $fonte-texto;
  list-style: none;
  outline: none;
  text-decoration: none;

  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}

html,
body {
  scroll-behavior: smooth;
}

button,
.button,
input[type="submit"] {
  outline: none;
  cursor: pointer;
  border: none;
}

select,
option {
  cursor: pointer;
}

img,
video {
  max-width: 100%;
  height: auto;
}

fieldset {
  border: none;
}

strong,
b {
  font-weight: 700;
}

h1,
.h1 {
  font: 700 2rem $fonte-titulo;
  color: #373435;
}

h2,
.h2 {
  font: 700 1.25rem $fonte-titulo;
  color: #373435;
}

h3,
.h3 {
  font: 700 1.125rem $fonte-titulo;
}

h4,
.h4 {
  font: 400 1rem $fonte-titulo;
}
